.loginsignup {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
  background: #fce3fe;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginsignup-container {
  width: 100%;
  max-width: 580px;
  background: white;
  margin: 0 auto;
  padding: 40px 60px;
  box-sizing: border-box;
}
.loginsignup-container h1 {
  margin: 20px 0px;
}
.loginsingup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.loginsingup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.loginsignup-container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
